.upload-box {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  line-height: 200px;
  text-align: center;
  border: 1px solid #ccc;
  background-image: url(/assets/img/code_background.gif);
  transition: border-radius .25s;
}

.upload-view {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.content-container {
  position: relative;
}

.tcenter {
  text-align: center;
}

.circlize {
  border-radius: 50%;
}

.brand {
  font-weight: bold;
}
